<p-card class="h-1rem">
    <form  [formGroup]="formFilters" class="flex justify-content-center">
        <p-inputNumber 
            class="p-3"
            placeholder="Введите номер заказа"
            inputId="integeronly"
            [useGrouping]="false" 
            formControlName="numOrder"      
            /> 
    <p-treeSelect
            [options]="orderTypes"
            class="md:w-20rem w-full p-3" 
            containerStyleClass="w-full" 
            placeholder="Тип заказа" 
            formControlName="typeOfOrder"
            />
    <p-toggleButton 
            class="p-3"
            onLabel="Активный заказ" 
            offLabel="Не актвиный заказ" 
            formControlName="isActive"
            />
        <div class="flex justify-content-center align-items-center">
            <p-button 
                class="p-1"
                label="Поиск"
                (onClick)="onSubmit()"
             />
            <p-button 
                class="p-1"
                label="Сброс" 
                (onClick)="onReset()"
                />
        </div>
    </form>
</p-card>

